name: build-ubuntu-qt6

on:
    pull_request:
      branches:
        - main
      paths:
        - 'qt6/*'
jobs:
    build-ubuntu:
      runs-on: ubuntu-latest
      steps:
        - name: setup-env
          run: |
            sudo apt update
            sudo apt install git g++ g++-mingw-w64 cmake ninja-build libclang-dev llvm-dev libgl1-mesa-dev libglu1-mesa-dev python3 -y
            sudo update-alternatives --set i686-w64-mingw32-gcc /usr/bin/i686-w64-mingw32-gcc-posix
            sudo update-alternatives --set i686-w64-mingw32-g++ /usr/bin/i686-w64-mingw32-g++-posix
            sudo update-alternatives --set x86_64-w64-mingw32-gcc /usr/bin/x86_64-w64-mingw32-gcc-posix
            sudo update-alternatives --set x86_64-w64-mingw32-g++ /usr/bin/x86_64-w64-mingw32-g++-posix
            git clone https://github.com/nicmorais/Qt-Cross-Compile-Linux-To-Windows
            sudo cp Qt-Cross-Compile-Linux-To-Windows/qt6/mingw-w64-x86_64.cmake /mingw-w64-x86_64.cmake
        - name: clone-qt-sources
          run: |
            git clone https://github.com/qt/qt5 --branch 6.5.2 qt6
            cd qt6
            ./init-repository --module-subset=essential
        - name: configure-linux
          run: |
            cd qt6
            mkdir build
            cd build
            ../configure -prefix /qt6-linux -no-feature-accessibility -skip qtqa -no-pch -no-feature-testlib -no-feature-xml -no-feature-sql -no-feature-printsupport -no-feature-linguist -no-feature-dbus  -skip qtdoc -no-harfbuzz -nomake tests -nomake examples -no-feature-assistant -no-feature-designer -- -Wno-dev
        - name: make-linux
          run: |
            cd qt6/build
            cmake --build . --parallel
            cmake --install .
            rm -r *
        - name: configure-windows
          run: |
            cd qt6/build
            ../configure -platform linux-g++  -xplatform win32-g++ -device-option CROSS_COMPILE=/usr/bin/x86_64-w64-mingw32- -prefix /qt6-windows/ -qt-host-path /qt6-linux -opensource -confirm-license -skip qtqa -skip qtdoc -opengl desktop -no-feature-assistant -no-pch -no-feature-testlib -no-feature-xml -no-feature-sql -no-feature-linguist -no-feature-dbus -no-feature-printsupport -no-feature-designer -nomake tests -nomake examples -no-harfbuzz -- -DQT_FORCE_BUILD_TOOLS=ON -DCMAKE_TOOLCHAIN_FILE=/mingw-w64-x86_64.cmake
        - name: make-windows
          run: |
            cd qt6/build
            cmake --build . --parallel
            cmake --install .
            rm -r *
